.header {
  position: fixed;
  top: -6rem;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  transition: all 500ms;


  background-color: var(--alabaster);

  &.scrolled {
    top: 0;
  }
}

.headerContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  max-width: 1080px;
  margin: 0 auto;
}

.logo {
  display: block;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  transition: all 500ms;

  &::after {
    content: "";
    display: block;
    padding-top: 8.375%;
  }

  svg {
    fill: var(--white-50);
    width: 100%;
    height: 100%;
  }

  &.scrolled {
    top: 2rem;
    width: 27.353%;

    svg {
      fill: var(--black);
    }
  }
}

.scrolled {
  position: fixed;
}

.loginList {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.loginItem {
  position: relative;

  a {
    color: var(--black);

    text-decoration: none;
    text-transform: capitalize;
  }

  &:not(:last-child) {
    margin-right: 2rem;
  }
}

.loginCartLogo {
  display: block;
  position: relative;
  width: 1.5rem;

  &::after {
    content: "";
    display: block;
    padding-top: 100%;
  }

  svg {
    fill: var(--black);
  }
}
