.linkCompWrapper {
  text-decoration: none;
}

.linkText {
  position: relative;


  &:hover .linkLine {
    width: calc(100% + 1rem);
  }
}

.linkLine {
  display: block;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  transition: 400ms width;
}

.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  //animation: fade-in 1s 2s ease both;
  color: var(--white);
  text-decoration: none;

  &.black {
    color: var(--black);

    &::before,
    &::after {
      background-color: var(--black);

    }

    .btnText::before,
    .btnText::after {
      background-color: var(--black);
    }

    .btnText span::before,
    .btnText span::after {
      background-color: var(--black);
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -2.4em;
    height: 1px;
    width: 3em;
    background-color: var(--white);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  &::after {
    content: '';
    top: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background-color: var(--white);
  }

  &:hover {
    &::before {
      width: 0;
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }

    .btnText {
      transform: translateX(-40px);
    }

    .btnText::before {
      width: 100%;
      max-width: 100%;
      -webkit-transition: width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
      transition: width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .btnText::after {
      width: 100%;
      -webkit-transition: width 0.15s 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transition: width 0.15s 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .btnText span::before {
      left: 0;
      height: 100%;
      -webkit-transition: height 0.15s 0.45s cubic-bezier(0.4, 0, 0.2, 1);
      transition: height 0.15s 0.45s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .btnText span::after {
      right: 0;
      height: 100%;
      -webkit-transition: height 0.15s 0.15s cubic-bezier(0.4, 0, 0.2, 1);
      transition: height 0.15s 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.btnText {
  position: relative;
  display: block;
  padding: 0.459em 2.29em;
  line-height: 1.5;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;

  &::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    background-color: var(--white);
    top: 0;
    left: 0;
    -webkit-transition: width 0.15s 0.45s cubic-bezier(0.4, 0, 0.2, 1);
    transition: width 0.15s 0.45s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    background-color: var(--white);
    bottom: 0;
    right: 0;
    -webkit-transition: width 0.15s 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    transition: width 0.15s 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  }

  span {
    &::before {
      content: '';
      position: absolute;
      height: 0;
      width: 1px;
      background-color: var(--white);
      -webkit-transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
      transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
      left: 0;
      bottom: 0;
    }

    &::after {
      content: '';
      position: absolute;
      height: 0;
      width: 1px;
      background-color: var(--white);
      transition: height 0.15s 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      right: 0;
      top: 0;
    }
  }

}


@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}