.linkCompWrapper {
  text-decoration: none;
}

.linkText {
  position: relative;
}

.linkLine {
  display: block;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  right: 0;
  width: calc(100% + 1rem);
  height: 1px;
}